.calendar-5-rows {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	font-size: 1em;
}

.calendar-5-rows .calendar-heading {
	height: 15%;
	margin-bottom: 0.5em;
}

.calendar-5-rows .ant-picker-panel {
	height: 85%;
}

.calendar-5-rows .ant-picker-panel .ant-picker-body {
	padding: 0 !important;
}

.calendar-5-rows .ant-picker-content tr:nth-child(6) {
	display: none;
}

.calendar-5-rows td,
.calendar-5-rows th,
.calendar-5-rows .calendar-heading .arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1em !important;
	aspect-ratio: 2/1;
	padding: 0;
}

.calendar-5-rows .calendar-heading .date {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.calendar-5-rows th {
	aspect-ratio: 6/7;
}

.calendar-5-rows td div {
	width: 2em !important;
	aspect-ratio: 1/1;
}

.calendar-5-rows tr {
	display: flex;
	justify-content: space-between;
}

.calendar-5-rows tbody,
.calendar-5-rows thead {
	width: 100%;
	display: block;
	flex-direction: column;
}

.calendar-5-rows .ant-picker-content {
	display: block;
	width: 100%;
	height: 100% !important;
}

.ant-picker-panel {
	width: 100%;
}
